@font-face {
    font-family: 'Buskerville Small Caps';
    src: url('/css/fonts/basker_small_caps-webfont.eot');
    src: url('/css/fonts/basker_small_caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/basker_small_caps-webfont.woff2') format('woff2'),
         url('/css/fonts/basker_small_caps-webfont.woff') format('woff'),
         url('/css/fonts/basker_small_caps-webfont.ttf') format('truetype'),
         url('/css/fonts/basker_small_caps-webfont.svg#baskerville_small_casmallcaps') format('svg');
    font-weight: normal;
    font-style: normal;

}
a {
  color:inherit;
  text-decoration: none;
 }
 html ,body{
   overflow-x: hidden;
   overflow-y: hidden;
   width: 100%;

 }
 body{
   padding-bottom: 20px;

 }
/* *{
   border: 1px solid red;
 }*/
#hostfooter{
  z-index: 1;
  text-align: center;
  font-family: 'Buskerville Small Caps';
  position: absolute;
  bottom: 0;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%,-50%);


}
.container-fluid{
    z-index: 1;
    font-family: 'Buskerville Small Caps';
    top: 116px;
    position: absolute;
    left: 50%;
    transform: translate(-60%,-50%);
    white-space: nowrap;
    overflow: hidden;


}
.carousel_slide{
  position: absolute;
}
}

#slider {
  position: absolute;
  top: 50%;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: absolute;
  top: 50%;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1100px;
  max-width: 95%;
  height: 1100px;
  background: #ccc;
  text-align: center;
  line-height: 500px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 50%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

#nameheader{

  font-family: 'Buskerville Small Caps';
  font-size: 35px;
  top: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-55%,0%);
  white-space: nowrap;

}
#linebreaktop{
  z-index: 1;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 75%;
  position: absolute;
  left: 50%;
  top: 90px;
  transform: translate(-50%,-50%);
}
#linebreakmid{
  z-index: 1;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 75%;
  position: absolute;
  left: 50%;
  top: 130px;
  transform: translate(-50%,-50%);
}
#linebreakbot{
  z-index: 1;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 75%;
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translate(-50%,-50%);
}
#subtitle{

  font-style: italic;
  color: #707070;
  top:80px;
  position: absolute;
  left: 50%;
  transform: translate(-60%,-55%);
}

.labeltitle {
  font-family: 'Buskerville Small Caps'
}
.contactInfo{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  white-space: nowrap;
}

.contactContent{
  color: #707070;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,+50%);
  font-style: italic;
  font-family: helvetica;
  white-space: nowrap;

}
.contactinfocontent{
  padding: 5px 5px;
}
.icon{
  width:25%;
  height:25%;
  padding: 5px;
  vertical-align: middle;
}
.artpieces{
  width: 45%;
  height: 45%;
}
#instalink{
  color: #707070;
}

#imageContainerdiv{
  position: absolute;
  z-index :-2;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#headerBackground{
  z-index: -1;
  height: 190px;
  background-color: white;
  width:100%;
  position: absolute;
  top:-50px;
}
#footerBackground{
  z-index: 0;
  background-color: white;
  width:105%;
  height:300px;
  bottom: -231px;
  position:absolute;
  transform: translate(-2%,0%);
  overflow: hidden;

}
#tabcontainer{
  z-index: 1;
  position: absolute;
  top: 98px;
  left: 50%;
  transform: translate(-50%,0%);

}
}
		.container{
			width: 800px;
			margin: 0 auto;
		}



		ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 10px;
			cursor: pointer;
		}

		ul.tabs li.current{

			color: #222;
		}

		.tab-content{
			display: none;

			padding: 15px;
		}

		.tab-content.current{
			display: inherit;
		}
    ul {
      white-space: nowrap;
      font-family: 'Buskerville Small Caps';
    }
#headerContainer{
  background-color: white;
  position: absolute;
  width:100%;
  height:158px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  top:-20px;
}
