@font-face {
    font-family: 'Buskerville Small Caps';
    src: url('css/fonts/basker_small_caps-webfont.eot');
    src: url('css/fonts/basker_small_caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/basker_small_caps-webfont.woff2') format('woff2'),
         url('css/fonts/basker_small_caps-webfont.woff') format('woff'),
         url('css/fonts/basker_small_caps-webfont.ttf') format('truetype'),
         url('css/fonts/basker_small_caps-webfont.svg#baskerville_small_casmallcaps') format('svg');
    font-weight: normal;
    font-style: normal;

}

#hostfooter{
  text-align: center;
  font-family: 'Buskerville Small Caps';

}
#testp{
  font-family: 'Buskerville Small Caps';
  font-size: 25pt;
}
