@font-face {
    font-family: 'Buskerville Small Caps';
    src: url('css/fonts/basker_small_caps-webfont.woff2') format('woff2'),
         url('css/fonts/basker_small_caps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#hostfooter{
  text-align: center;
  font-family: 'Buskerville Small Caps';
}
